.plus-button {
  border: 1px solid #e8e8e8;
  color: black;
  text-align: center;
  padding: 5px 6px;
  border-radius: 3px;
}
.inp {
  border: 1px solid #e8e8e8;
  padding: 3px 5px;
  margin-top: 5px;
}
