.about {
  background-image: url(../../assets/images/secBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .text {
    width: 40%;
    padding: 30px;
    font-size: 18px;
    h1 {
      font-family: "Nunito", sans-serif;
      margin: 30px;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      font-style: italic;
    }
  }
  .img {
    width: 50%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
.faq {
  width: 60%;
  margin: 80px auto;
}
