.login {
  width: 30%;
  margin: 0 auto;
}
.login-heading {
  font-family: "Nunito", sans-serif;
  margin: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
}
.loginpage {
  background-image: url(../../assets/images/secBG.png);
  background-size: cover;
  background-position: bottom;
  padding-bottom: 10px;
}
