.home {
  .body {
    display: flex;
    justify-content: space-between;
    .employeeSearchForms {
      width: 30%;
    }
    .employeeList {
      width: 100%;
    }
  }
  .home-heading {
    font-family: "Nunito", sans-serif;
    margin: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
  }
  .tag {
    color: white;
  }
}
